server-ip={{ server_ip }}
query.port={{ server_port }}
server-name={{ server_name }}
motd={{ motd }}

gamemode={{ gamemode }}
difficulty={{ difficulty }}
max-players={{ max_players }}
level-type={{ level_type }}
spawn-protection={{ spawn_protection }}

allow-flight={{ allow_flight }}
view-distance={{ view_distance }}
